.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--l) 0;
  max-width: var(--max-width);
}

.options {
  display: flex;
  align-items: center;
  gap: var(--s);
}
