.main {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: var(--xxl);
  font-size: 0.85rem;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
