.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 var(--xxl);
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--xl);
    font-size: 0.85rem;
    width: 100%;
    max-width: var(--max-width);
    font-family: var(--font-mono);
}

