:root {
  /*Spacing*/

  --xxs: 4px;
  --xs: 8px;
  --s: 12px;
  --m: 16px;
  --l: 24px;
  --xl: 32px;
  --xxl: 40px;

  /*Typography*/
  --font-family: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono',
    'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono',
    'Courier New', monospace;

  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 600;
}

.light {
  --foreground-color: #2b252a;
  --background-color: #efefef;
}

.dark {
  --foreground-color: #efefef;
  --background-color: #000000;
}
