.selector {
  background-color: transparent;
  border: none;
}

.sun,
.moon {
  width: var(--l);
  stroke-width: var(--s);
}

.sun {
  stroke: #f2f27a;
  fill: #f2f27a;
  filter: drop-shadow(0px 0px var(--xxs) #f2f27a);
}

.moon {
  stroke: #96aec5;
  filter: drop-shadow(0px 0px var(--xxs) #daeaf9);
}
